<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PG3 PROJECT</title>
</head>
<body>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="attri1" placeholder="attrione"> <br>
    <input type="text" name="attri2" placeholder="attritwo"> <br>
    <input type="text" name="attri3" placeholder="attrithree"> <br>
    <input type="number" name="attri9" placeholder="attrinine"> <br>
    <input type="submit" value="add">

</form>

</body>
</html>